# Godot 4+ specific ignores
.godot/
android/
editor/fonts/JetBrainsMono/images
editor/fonts/JetBrainsMono/scripts
editor/fonts/JetBrainsMono/sources
editor/fonts/JetBrainsMono/.github
editor/fonts/JetBrainsMono/.idea
editor/fonts/JetBrainsMono/AUTHORS.txt
editor/fonts/JetBrainsMono/Changelog.md
editor/fonts/JetBrainsMono/CODE_OF_CONDUCT.md
editor/fonts/JetBrainsMono/CONTRIBUTORS.txt
editor/fonts/JetBrainsMono/install_manual.sh
editor/fonts/JetBrainsMono/OFL.txt
editor/fonts/JetBrainsMono/README.md
editor/fonts/JetBrainsMono/requirements.txt
editor/fonts/JetBrainsMono/.git
editor/fonts/JetBrainsMono/.gitignore
editor/fonts/roboto/src/v2
editor/fonts/roboto/res
editor/fonts/roboto/samples
editor/fonts/roboto/scripts
editor/fonts/roboto/third_party
editor/fonts/roboto/CONTRIBUTING.md
editor/fonts/roboto/LICENSE
editor/fonts/roboto/Makefile
editor/fonts/roboto/README.md
editor/fonts/roboto/requirements.txt
editor/fonts/roboto/.git
editor/fonts/roboto/.gitignore
editor/fonts/RobotoMono/sources
editor/fonts/RobotoMono/LICENSE.txt
editor/fonts/RobotoMono/README.md
editor/fonts/RobotoMono/requirements.txt
editor/fonts/RobotoMono/.git
editor/fonts/RobotoMono/.gitignore
